main {
  font-family: Montserrat, sans-serif;
}
.index-body {
  background-image: url('/static/images/usi.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  height: 800px;
  width: 100%;
  margin-top: 10px;
}
.find-body {
  background-image: url('/static/images/wingsgray.jpg');
  height: 100%;
  margin-top: 10px;
}
.main-section {
  /* margin-bottom: 1%; */
  margin-bottom: 1.6%;
}
.level {
  margin-top: 0.6%;
}
.index-heading {
  margin-top: 7%;
  color: white;
  text-align: center;
}
select {
  padding: 4px;
  font-size: 16px;
  border-radius: 5px;
}
i {
  margin-right: 8px;
}
.landing-image {
  width: 50%;
  align-self: center;
}
.is-centered {
  text-align: center;
}
.level-icon {
  font-size: 40px;
  margin-right: 15px;
  color: #002856;
}
.quick-rec {
  color: #002856;
}
.quick-rec:hover {
  background-color: #002856;
  color: white;
}
.user-input {
  width: 100%;
}
/* input[type='text'] {
  padding: 1px 10px;
  font-size: 8px;
  width: 700px;
} */

/*New*/
.button {
  margin: 10px;
}
.find-label {
  font-family: Montserrat, sans-serif;
  color: white;
  text-align: center;
}
.flex-container {
  text-align: center;
  font-family: Montserrat, sans-serif;
  font-size: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-container > form {
  width: auto;
  height: auto;
}
.my-title {
  color: white;
  display: block;
}
.results-menu {
  width: min-content;
  margin-right: 10px;
}
ul {
  list-style-type: none;
  padding-left: 10px;
  overflow: hidden;
  border: 1px solid #002856;
  background-color: #002856;
}
.is-link {
  background-color: #002856;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #1e416a;
  color: white;
}

li a.active {
  color: white;
  background-color: #002856;
}
#results-menu {
  float: left;
}
.column {
  border: 1px solid red;
}
.nav-bar {
  height: max-content;
}
/* About Page */
.hero-grid-item {
  text-align: left;
  padding: 1%;
}
.hero-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-around;
  align-content: center;
  height: 100%;
}
.hero-banner {
  margin-top: 0.6%;
}
/* Form Section */
.form-container {
  padding-top: 1%;
}

/*Footer*/
.footer-container {
  align-items: center;
  margin: 10px;
}
.footer {
  align-items: center;
}
.logo-text {
  font-style: italic;
  float: left;
}
/*Contact Portal*/
.id-field {
  width: min-content;
  border: none;
  font-weight: 500;
}
