<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      src="https://kit.fontawesome.com/42e7bd55fd.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css')}}"
    />
    <script
      src="https://kit.fontawesome.com/42e7bd55fd.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      href="{{ url_for('static', filename='images/favicon.ico')}}"
    />
  </head>
  <body>
    <header>
      <div class="nav-bar">
        <ul>
          <li>
            <a href="https://www.usi.edu">
              <img
                src="/static/images/usi-logo-horizontal.png"
                alt=""
                width="112"
                height="32"
              />
            </a>
          </li>
          <li>
            <a href="{{ url_for('index') }}">Home</a>
          </li>
          <li><a href="{{ url_for('contact') }}">Contact</a></li>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('insights') }}">Admin Site</a></li>
        </ul>
      </div>
    </header>
    <div class="body-content">
      {% block content %} {% endblock %}
      <hr />
      <footer class="footer">
        <div class="footer-container">
          <figure class="image is-32x32">
            <img src="/static/images/logo.png" />
            <h1 class="logo-text">LinguisAquilis</h1>
          </figure>
        </div>
        <div class="content has-text-centered">
          <p>
            <strong>LinguisAquilis </strong> by
            <a href="https://github.com/yalmanzade">Yosep Almanza</a> and
            <a href="https://github.com/DJT777">Dylan Tulsey</a>. The website
            content is licensed
            <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
              >CC BY NC SA 4.0</a
            >.
          </p>
        </div>
      </footer>
    </div>
  </body>
</html>
