{% extends "base.html" %} {% block title %} Contact {% endblock %} {% block
content %}
<main class="form-container">
  <section class="container hero is-link">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Contact us</h1>
        <h2 class="subtitle">
          Our team will be back with you shortly.
          <strong> Feedback is always welcome.</strong>
        </h2>
        <figure>
          <p>
            <span>
              <i class="fa-solid fa-location-pin"></i>
            </span>
            Evansville, IN
          </p>
        </figure>
        <figure>
          <p>
            <span>
              <i class="fa-solid fa-envelope"></i>
            </span>
            sales@LinguisAquilis.com
          </p>
        </figure>
        <figure>
          <p>
            <span>
              <i class="fa-solid fa-phone"></i>
            </span>
            812-604-800
          </p>
        </figure>
      </div>
      <h2 class="subtitle is-6">
        <strong>Or fill out this form</strong>
      </h2>
    </div>
  </section>
  <div class="form-container container">
    <form method="POST" id="form">
      <div class="field">
        <label for="name" class="label">Name</label>
        <input
          id="name"
          type="text"
          class="input"
          name="name"
          placeholder="Enter Name"
          required
        />
      </div>
      <div class="field">
        <label for="email" class="label">Email</label>
        <input
          id="email"
          type="email"
          class="input"
          name="email"
          placeholder="Enter Email"
          required
        />
      </div>
      <div class="field">
        <label for="phone" class="label">Phone</label>
        <input
          id="phone"
          type="tel"
          name="phone"
          class="input"
          pattern="[+][0-9]{2} ?[0-9]{3} ?[0-9]{7}"
          placeholder="Enter Phone (Optional)"
        />
      </div>
      <div class="field">
        <label class="label">Prefered via of contact</label>
        <div class="control">
          <div class="select">
            <select name="contact_choice" required>
              <option>Email</option>
              <option>Phone</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label for="notes" class="label">Notes</label>
        <div class="control">
          <textarea
            name="notes"
            id="notes"
            cols="20"
            rows="3"
            class="textarea"
            required
            value="fdgjn"
          ></textarea>
        </div>
      </div>
      <div class="container">
        <div class="control field">
          <input
            type="submit"
            value="Submit"
            id="submit"
            class="button is-link"
          />
          <input value="Clear" type="clear" class="button is-danger" />
        </div>
      </div>
    </form>
    <div class="container">
      <div id="notification" class="notification is-primary is-light is-hidden">
        <button
          id="delete-notification"
          class="delete"
          onclick="deletenotification()"
        ></button>
        Success! A sales representative will contact you shortly
      </div>
    </div>
  </div>
</main>
{% endblock %}
