<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css"
      integrity="sha512-HqxHUkJM0SYcbvxUw5P60SzdOTy/QVwA1JJrvaXJv4q7lmbDZCmZaqz01UPOaQveoxfYRv1tHozWGPMcuTBuvQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <main>
      <section class="section">
        <div class="container">
          <div class="card">
            <div class="card-content">
              <div class="content">
                <figure class="image is-128x128">
                  <img src="/static/images/error.png" />
                </figure>
              </div>
              <div class="subtitle is-4">
                <p>
                  We ran into an issue. Please try again or contact support.
                </p>
              </div>
              <footer class="card-footer">
                <div class="card-footer-item">
                  <a href="/"
                    ><button class="button is-link is-medium">Return</button></a
                  >
                </div>
              </footer>
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer class="footer">
      <a href="https://www.flaticon.com/free-icons/error" title="error icons"
        >Error icons created by Freepik - Flaticon</a
      >
    </footer>
  </body>
</html>
