{% extends "base.html" %} {% block title %} Find Courses {% endblock %} {% block
content %}
<main class="find-body">
  <div class="columns">
    <div class="column is-1"></div>
    <div class="column auto">
      <section class="flex-container container">
        <form method="POST">
          <label class="my-title" for="userInterests">Select a class</label>
          <div>
            <select name="selectClass" class="select">
              {% for x in dropdownList %}
              <option value="{{ x }}">{{x}}</option>
              {% endfor %}
            </select>
          </div>
          <input
            formmethod="POST"
            type="submit"
            name="submitButton"
            value="Find Similar"
            class="button is-danger"
          />
        </form>
      </section>
      <section class="flex-container container">
        <div class="block">
          <form method="POST">
            <label class="my-title" for="userInterests"
              >Or tell us about your interests</label
            >
            <input
              class="input is-medium is-focused"
              type="text"
              id="userInputDescription"
              name="userInputDescription"
              placeholder="Type your interests"
              required
            /><br />
            <input
              formmethod="POST"
              type="submit"
              name="submitButton"
              value="Submit User Description"
              class="button is-danger"
            />
          </form>
        </div>
      </section>
      <section class="flex-container container">
        <div class="block">
          <form method="POST">
            <label class="my-title" for="userInterests"
              >We can also recommend a Major</label
            >
            <input
              class="input is-medium is-focused"
              type="text"
              id="userInputMajor"
              name="userInputMajor"
              placeholder="Type your interests"
              required
            /><br />
            <input
              formmethod="POST"
              name="submitButton"
              type="submit"
              value="Find a Major"
              class="button is-danger"
            />
          </form>
        </div>
      </section>
    </div>
    <div class="column is-3">
      <form method="POST">
      {%if containsData == "True" %}
      <div id="results-menu" class="box block">
        <h1>Results</h1>
        <div class="tags">
          {% for x in recommendedClasses %}
          <span class="tag is-large is-info"
            >{{x['course_dept'] + " " + x['course_number'] + " " +
            x['course_title']}}</span>
          {% endfor %}
        </div>
        <label><input type="radio" name="option" value="True">This recommendation was helpful</label><br>
        <label><input type="radio" name="option" value="False">This recommendation was not helpful</label><br>
        <input
              formmethod="POST"
              name="submitButton"
              type="submit"
              value="Submit Feedback"
              class="button is-danger"
            />
      </div>
      {% endif %}
      {%if containsDataMajor == "True" %}
      <div id="results-menu2" class="box block">
        <h1>Results</h1>
        <div class="tags">
          {% for x in recommendedClasses %}
          <span class="tag is-large is-info"
            >{{x}}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}
      </form>
    </div>
    <div class="column is-1"></div>
  </div>
</main>

{% endblock %}
