{% extends "base.html" %} {% block title %} Find Courses {% endblock %} {% block
content %}
<section class="flex-container container">
  <form method="POST">
    <label class="my-title" for="userInterests">Select a class</label>
    <div>
      <select name="selectClass" class="select">
        {% for x in returnList %}
        <option value="{{ x }}">{{x}}</option>
        {% endfor %}
      </select>
    </div>
    <input
      formmethod="POST"
      type="submit"
      name="submitButton"
      value="Find Similar"
      class="button"
    />
  </form>
</section>
<section class="flex-container container">
  <div class="block">
    <form method="POST">
      <label class="my-title" for="userInterests"
        >Or tell us about your interests</label
      ><br /><h1>HelloWorld</h1>
      <input
        class="input is-medium is-focused"
        type="text"
        id="userInputDescription"
        name="submitButton"
        value="submitUserDescription"
        placeholder="Type your interests"
      /><br />
      <input formmethod="POST" type="submit" value="Submit" class="button" />
    </form>
  </div>
</section>
<section class="flex-container container">
  <div class="block">
    <form method="POST">
      <label class="my-title" for="userInterests"
        >We can also recommend a Major</label
      ><br />
      <input
        class="input is-medium is-focused"
        type="text"
        id="userInput1"
        name="userInputMajor"
        placeholder="Type your interests"
      /><br />
      <input
        formmethod="POST"
        type="submit"
        value="Find a Major"
        class="button button"
      />
    </form>
  </div>
</section>
{% endblock %}
