{% extends "navbase.html" %} {% block title %} Contact Inquires {% endblock %}
{% block content %}
<main>
  <section class="hero is-small is-link">
    <div class="hero-body">
      <p class="title">Explore Insights</p>
      <p class="subtitle">
        This portal includes insights on popular course options and more.
      </p>
    </div>
  </section>
  <section class="section card-section">
    <div class="columns">
      <div class="column is-4">
        <div class="card">
          <div class="card-content">
            {% if insight['topCourse'] %} 
            <p class="title">{{ insight['topCourse'][0].description }}</p>
            {% else %}
            <p class="title">No Data</p>
            {% endif%}
            <p class="subtitle">Is the most popular course among users.</p>
          </div>
          <footer class="card-footer">
            <p class="card-footer-item">
              <span>
                View on
                <a
                  href="https://twitter.com/codinghorror/status/506010907021828096"
                  >Twitter</a
                >
              </span>
            </p>
            <p class="card-footer-item">
              <span> Share on <a href="#">Facebook</a> </span>
            </p>
          </footer>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <h1 class="title is-3">Top 5 Courses</h1>
          <table class="table">
            <thead>
              <tr>
                <th>Code</th>
                <th>Number</th>
                <th>Course</th>
              </tr>
            </thead>
            <tbody>
              {% if insight['topCourse'] %} {% for x in insight['topCourse'] %}
              <tr>
                <td>{{x.name}}</td>
                <td>{{x.code}}</td>
                <td>{{x.description}}</td>
              </tr>
              {% endfor%} {% else %}
              <tr>
                <td>No Data</td>
                <td>No Data</td>
                <td>No Data</td>
              </tr>
              {% endif %}
            </tbody>
            <tfoot>
              <tr>
                <th>Code</th>
                <th>Number</th>
                <th>Course</th>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <div class="column is-4">
        <div class="class is-parent">
          <div class="title is-child notification is-link">
            <div class="content">
                {% if insight['topMajor'] %} 
                <h1 class="title">{{insight['topMajor']}}</h1> 
                {% else %}
                <h1 class="title">No Data</h1>
                {% endif %}
              </h1>
              <p class="subtitle">Top recommended major.</p>
              <div class="content"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section card-section">
    <div class="columns">
      <div class="column is-5">
        <article class="tile is-child notification is-danger">
          <span><i class="fa-solid fa-city icon"></i></span>
          <p class="title">
            {% if insight %} {{insight['city'] + ', ' + insight['region'] }} {%
            endif %}
          </p>
          <p class="subtitle">
            {% if insight %} {{insight['cityPercentage']}} {% endif %} of our
            users live here.
          </p>
        </article>
      </div>
      <div class="column is-3">
        <article class="tile is-child notification is-warning">
          <span><i class="icon fa-solid fa-flag-usa"></i></span>
          <p class="title">
            {% if insight %} {{insight['region']}} {% endif %}
          </p>
          <p class="subtitle">
            Most users live in {% if insight %} {{insight['region']}} {% endif
            %}
          </p>
        </article>
      </div>
      <div class="column is-4">
        <article class="tile is-child notification is-primary">
          <p class="title">
            {% if insight %} {{insight['zip']}} {% endif %}...
          </p>
          <p class="subtitle">Top ZIP code from our users</p>
        </article>
      </div>
    </div>
  </section>
</main>
{% endblock %}
